<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="login-title text-center mb-30">
          <h2><%= @genre.name %></h2>
        </div>
      </div>

      <% if @books.any? %>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="cart-main-area mb-70">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <form action="#">
                        <div class="table-content table-responsive">
                          <table>
                            <thead>
                              <tr>
                                <th class="product-thumbnail">Portada</th>
                                <th class="product-name">Título</th>
                                <th class="product-name">Autor</th>
                                <th class="product-name">Editorial</th>
                                <th class="product-price">Precio</th>

                              </tr>
                            </thead>
                            <tbody>
                                <% @books.each do |book| %>
                              <tr>
                                <td class="product-thumbnail"><%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %></td>
                                <td class="product-quantity"><h4><a href="<%= book_path(book) %>"><%= book.title %></a></h4></td>
                                <td class="product-quantity"><h4><%= book.author_first_name %> <%= book.author_last_name %></h4></td>
                                <td class="product-quantity"><%= book.publisher.name %> </td>
                                <td class="product-quantity"><span class="amount"><%= number_to_currency(book.price, precision: 0) %></span></td>
                              </tr>
                                <% end %>

                            </tbody>
                          </table>
                        </div>
                      </form>
                    </div>
                 </div>
                </div>
              </div>
      </div>

      <% else %>

      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="cart-main-area mb-70">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <h3>¡Oops! No tenemos libros de <%= @genre.name %></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      <% end %>

        <%= render 'layouts/sidepanel' %>
      </div>
    </div>
  </div>
