<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2 align="center"> <%= logo_image_tag("banners/logo2.png") %></h2>
    <h2 align="center"> ¡Vendiste un libro!</h2>
    <p align="left">Hola, <%= @book.publisher.name %>. </p>
    <p align="left"> ¡Felicidades por tu venta! </p>
    <p align="left"> Recuerda que tu pago se retendrá por 30 días para asegurarnos que el libro le llegue al lector. El libro le debe llegar al lector hasta el <%= @expiration.to_date.strftime("%d/%m/%Y") %>. De lo contrario, el lector tendrá 10 días para presentar un reclamo. Te recomendamos que guardes los recibos de Starken para comprobar que enviaste el libro. Para las entregas directas, si el lector nos indica que no pudo coordinarse la entrega, deberás mostrarnos correos que acrediten que hiciste un esfuerzo para coordinar la entrega. (Es decir, que le diste al lector más de una opción de fecha y hora para recoger el libro). </p>
    <p align="left"> Si te llega más de un pedido para una misma dirección, por favor junta los pedidos en un solo paquete. :) </p>
    <table style="border: 1px solid black;">
      <thead>
        <tr>
          <th style= "background: #00ABE0; border: 1px solid black;">Portada</th>
          <th style= "background: #00ABE0; border: 1px solid black;">Título</th>
          <th style= "background: #00ABE0; border: 1px solid black;">Precio</th>
          <th style= "background: #00ABE0; border: 1px solid black;">Nombre</th>
          <th style= "background: #00ABE0; border: 1px solid black;">Envío</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <% if @book.cover.url.match(/fallback/) %>
            <td width="20%" style="border: 1px solid black;"><%= fallback_image_tag("banners/email_thumb_fallback.png") %></td>
            <% else %>
            <td width="20%" style="border: 1px solid black;"><%= email_image_tag(@book.cover.thumb) %></td>
            <% end %>
            <td width="20%" style="border: 1px solid black;"><h4><%= @book.title %></h4></td>
            <td width="20%" style="border: 1px solid black;"><%= number_to_currency(@book.price, precision: 0) %></td>
            <td width="20%" style="border: 1px solid black;"><h4><%= @order.user.reader.firstname%> <%= @order.user.reader.lastname %></h4></td>
            <% if @order.delivery == false && @publisher_address.present? %>
                <td width="20%" style="border: 1px solid black;">El lector recogerá el libro en: <br> <strong> <%= @publisher_address.address %> <br> <%= @publisher_address.commune %>, <%= @publisher_address.region %>.</strong> <p> Debes escribirle a <%= @order.user.email %> para coordinar la entrega. </p></td>
            <% else %>
                <td width="20%" style="border: 1px solid black;">Debes enviar el libro por pagar a través de Starken a: <br> <strong> <%= @adr %> <br> <%= @com %>, <%= @reg %>. </strong>.</td>
            <% end %>
          </tr>

      </tbody>
    </table>
</body>
</html>
