<% if user_signed_in? && current_user.role == 'Editorial' %>
<% if current_user.millings.any? %>
<p id="notice"><%= notice %></p>
<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="login-title text-center mb-30">
          <h2>¡Gracias por tu compra!</h2>
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="cart-main-area mb-70">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <form action="#">
                        <div class="table-content table-responsive">
                          <table>
                            <thead>
                              <tr>
                                <th class="product-name">Tipo</th>
                                <th class="product-price">Precio</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% @milling.membership_orders.each do |order| %>
                              <tr>
                                <td class="product-quantity"><h4><%= order.membership.name %></h4></td>
                                <td class="product-quantity"><h4><span class="amount"><%= number_to_currency(order.membership.price, precision: 0) %></span></h4></td>

                              </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                  <div class="wc-proceed-to-checkout">
                                      <h2>Total: <span class="amount"><%= number_to_currency(@price, precision: 0) %> </span></h2><br>
                                  </div>

                                      <div>

                                          <h4> Tu membresía es válida hasta: <%= @expiration.to_date.strftime("%d/%m/%Y") %>. </h4>
                                          <h4> Puedes ver la tienda de <%= @publisher.name %> <a href="<%= publisher_path(@publisher)%>"> aquí.</a> </h4>

                                      </div>
                              </div>
                  </div>
                </div>
              </div>
      </div>
      <%= render 'layouts/sidepanel' %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
