<p id="notice"><%= notice %></p>
<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

        <div class="col-lg-12">
          <div class="login-title text-center mb-30">
            <h2>Preguntas frecuentes</h2>
          </div>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="cart-main-area mb-70">
                      <div class="container">

                        <div class="row">
                          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-info-area">

                                  <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#Lectores" data-toggle="tab">Lectores</a></li>
                                    <li><a href="#Editoriales" data-toggle="tab">Editoriales</a></li>
                                  </ul>
                                  <div class="tab-content">
                                      <div class="tab-pane active" id="Lectores">
                                          <div class="valu text-left">

                                            <ul>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué es una editorial independiente?</strong></li>
                                              <li>Una editorial independiente es aquella que no depende de ninguna otra editorial o grupo editorial. Es decir, se trata de una organización fundada por un emprendedor (o emprendedora) amante de los libros, sin respaldo de un gran conglomerado comercial (como es el caso, por ejemplo, de las editoriales transnacionales). Al tener menos recursos, las editoriales independientes suelen cuidar mucho más su catálogo. Pueden invertir en menos libros, así que los que publican son elegidos con pinzas. Además, cada libro es tratado con verdadero amor y dedicación, pues el fin máximo de una editorial independiente es promover la cultura y no llenarse de dinero. Por eso, los libros publicados por editoriales independientes suelen ser propuestas mucho más originales y de mayor calidad. </li>
                                              <br>
                                              <li> <i class="fa fa-star"></i><strong>¿Por qué debería usar Líbrate en lugar de comprar en una librería?</strong></li>
                                              <li>Al comprar en Líbrate, estarás apoyando a las editoriales chilenas. ¿Sabías que una librería se queda con aproximádamente 40% del costo de un libro? Luego, la distribuidora (la gente que lleva el libro de la editorial a la librería), se lleva aproximadamente otro 20% (algunas más, otras menos). El autor o autora, legalmente, debe recibir un pago de al menos el 10% de cada libro (lo cual es bueno... y algo bajo, la verdad). Es decir, la editorial se queda sólo con el 30% de cada venta para cubrir los costos de impresión, edición, diseño y publicación del libro. En esas circunstancias ¡se hace muy difícil publicar! Al vender a través de Líbrate, las editoriales pueden llevar sus propios libros a los lectores y así evitar las grandes comisiones de librerías y distribuidores. Comprando en nuestra plataforma, estarás permitiendo que las editoriales independientes puedan seguir publicando. ¿Y lo mejor? ¡La venta directa permite que las editoriales ofrezcan grandes descuentos para los lectores de Líbrate!</li>
                                              <br>
                                              <li> <i class="fa fa-star"></i><strong>¿Por qué tengo que elegir el envío para cada libro si están todos en un mismo pedido?</strong></li>
                                              <li>Líbrate es una plataforma que permite que las editoriales muestren sus libros, no una distribuidora. Nosotros no tenemos los libros (bueno, salvo los que nos compramos para leer, pero esos no te los vamos a mandar). Cada editorial (o sea, la gente simpática que trajo ese libro al mundo) es la encargada de manejar sus propios envíos. Cuando haces un pedido, lo más probable es que tengas libros de más de una editorial y por tanto distintas personas te estarán enviando tus libros.</li>
                                              <br>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué hago si no me llega un libro?</strong></li>
                                              <li>Si han pasado 20 días desde que pagaste tu pedido y aún no te llega el libro, tienes 10 días para contactarte con nosotros al correo <a href="mailto:libratechile@gmail.com">libratechile@gmail.com</a>  y presentar un reclamo. Le pediremos a la editorial que clarifique la situación y, en el caso que no pueda comprobar que ha enviado el libro, te devolveremos tu dinero. </li>
                                              <br>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué pasa si no puedo coordinarme nunca con la editorial para recoger el libro?</strong></li>
                                              <li>Si han pasado 20 días y aún no puedes coordinar con la editorial, tienes 10 días para contactarte con nosotros al correo <a href="mailto:libratechile@gmail.com">libratechile@gmail.com</a>  y presentar un reclamo. Nos contactaremos con ella para ver qué sucedio. Si vemos que no hicieron suficiente esfuerzo para coordinarse contigo (es decir, no te dieron más de una opción de día en la cual recoger tu pedido), te devolveremos tu dinero. En todo caso, si eres una persona con poca disponibilidad de tiempo, te sugerimos que solicites el envío a tu casa. </li>
                                              <br>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué puedo hacer si se me pasó el plazo para presentar un reclamo?</strong></li>
                                              <li>Lamentablemente, una vez pasado el plazo para presentar el reclamo, tu pago será procesado y enviado a la editorial. Por tanto, ya no podemos devolverte tu dinero.</li>
                                              <br>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué hago si no recibí una boleta junto con mis libros?</strong></li>
                                              <li>Cada editorial es responsable de enviar las boletas de sus ventas y así cumplir con las leyes tributarias. Por tanto, si no has recibido la tuya, escríbenos y nos contactaremos con la editorial.  </li>
                                              <br>
                                              <li> <i class="fa fa-star"></i><strong>¿Venden ebooks?</strong></li>
                                              <li>Aún no, pero esperamos hacerlo en el futuro. </li>
                                              <br>
                                              <li> <i class="fa fa-star"></i><strong>¿Cómo puedo actualizar mi email y contraseña?</strong></li>
                                              <li>Para actualizar tu email y contraseña, debes entrar a la sección <a href="<%= users_profile_path %>">"Mi perfil"</a>. Si no recuerdas tu contraseña, ingresa <a href="<%= user_session_path %>">aquí</a> y haz click en "¿Olvidaste tu contraseña?"</li>
                                              <br> <br>
                                              <li><strong>¿Tienes más preguntas? Escríbenos a <a href="mailto:libratechile@gmail.com">libratechile@gmail.com</a></strong></li>
                                            </ul>
                                           </div>
                                      </div>
                                       <div class="tab-pane" id="Editoriales">
                                            <div class="valu text-left">
                                              <ul>
                                                <li> <i class="fa fa-star"></i><strong>¿Por qué Líbrate es sólo para editoriales independientes?</strong></li>
                                                <li>Porque valoramos la equidad por sobre la igualdad. Las editoriales transnacionales y universitarias ya tienen suficientes recursos como para necesitar un espacio como este.  </li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo subo un libro?</strong></li>
                                                <li>Para poder subir un libro, debes haber pagado tu <a href="<%= memberships_path %>">membresía anual</a>. Si ya lo has hecho, ingresa a tu cuenta y haz click en el menú superior: Editores/Agregar libro. También puedes hacer click <a href="<%= new_book_path %>">aquí</a> </li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Qué incluye la membresía?</strong></li>
                                                <li>Tu membresía anual incluye la posibilidad de subir y vender todos los libros que quieras. Además, te daremos el link a tu página en Líbrate para que puedas compartirla con tus lectores y agregarla a tu sitio web. De esta manera, tendrás tu propio portal de ventas :).</li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Cobran alguna comisión?</strong></li>
                                                <li>Nosotros no. Sin embargo, <a href="https://www.flow.cl/", target="blank"> Flow</a> (el sistema que permite que los lectores paguen con tarjeta de débito o crédito) cobra una comisión del 4%. Te recomendamos que tengas esto en consideración a la hora de fijar tus precios. </li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Cuál es mi tienda exclusiva?</strong></li>
                                                <li>Para ver tu tienda, ingresa aquí: <a href="<%= publisher_path(current_user.publisher.id) %>">Mi tienda</a> </li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo puedo actualizar mi información de facturación, pago y redes sociales?</strong></li>
                                                <li>Para actualizar tus datos <a href="<%= users_profile_path %>">ingresa aquí.</a></li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo puedo actualizar mi email y contraseña?</strong></li>
                                                <li>Para actualizar tu email y contraseña, debes entrar a la sección <a href="<%= users_profile_path %>">"Mi perfil"</a>. Si no recuerdas tu contraseña, ingresa <a href="<%= user_session_path %>">aquí</a> y haz click en "¿Olvidaste tu contraseña?"</li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Puedo vender ebooks?</strong></li>
                                                <li>¡Aún no! Pero esperamos en el futuro incorporar la venta de e-books a nuestro sitio. </li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo les envío la información de una novedad para que la promocionen en redes sociales?</strong></li>
                                                <li>Escríbenos a <a href="mailto:libratechile@gmail.com">libratechile@gmail.com</a>. Incluye los siguientes datos: título, autor (o autora), PVP, precio en Líbrate, ISBN y sinópsis. Además envíanos la portada y una foto bonita del libro físico para que lo compartamos en redes sociales :). </li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Qué pasa si tengo un contrato con un distribuidor?</strong></li>
                                                <li>Depende de las condiciones de tu contrato. De todas maneras, recuerda que Líbrate no es una distribuidora de libros, pues tú mismo te encargas de la distribución. Sólo te arrendamos un espacio para que vendas. Somos algo así como un stand en una feria. </li>
                                                <br>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo se gestionan las obligaciones requeridas por el Servicio de impuestos internos?</strong></li>
                                                <li>Tú eres el responsable de cumplir todas las obligaciones legales ante el SII. Por tanto, es muy importante que con cada libro envíes la boleta correspondiente. Líbrate no se hace cargo de cualquier infracción a las leyes tributarias que hagan los vendedores.  </li>
                                                <br> <br>
                                                <li><strong>¿Tienes más preguntas? Escríbenos a <a href="mailto:libratechile@gmail.com">libratechile@gmail.com</a></strong></li>
                                              </ul>
                                            </div>
                                      </div>
                                  </div>
                            </div>
                          </div>
                       </div>

                      </div>
                    </div>
        </div>
            <%= render 'layouts/sidepanel' %>


    </div>
  </div>
</div
