<p id="notice"><%= notice %></p>

<p>Email: <%= @user.email %> <%= link_to 'Cambiar', edit_user_registration_path %> </p>

<% if @user.role == "editorial" %>
    <p> Nombre: <%= @user.publisher.name%> <%= link_to 'Cambiar', edit_publisher_path(@publisher) %> </p>
    <p> Rut: <%= @user.publisher.rut%> <%= link_to 'Cambiar', edit_publisher_path(@publisher) %></p>
    <p> Giro: <%= @user.publisher.giro%> <%= link_to 'Cambiar', edit_publisher_path(@publisher) %></p>
<% elsif @user.role == "lector"%>
    <p>Nombre: <%= @user.reader.firstname%> <%= link_to 'Cambiar', edit_reader_path(@reader) %></p>
    <p>Apellido: <%= @user.reader.lastname%> <%= link_to 'Cambiar', edit_reader_path(@reader) %></p>
<% end %>

<% if current_user.role == 'lector' %>
<h1>Direcciones</h1>

<table>
  <thead>
    <tr>

      <th>Title</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.addresses.each do |address| %>
      <tr>
        <td><%= address.title %></td>
        <td><%= address.address %></td>
        <td><%= link_to 'Cambiar', edit_address_path(address) %></td>
        <td><%= link_to 'Eliminar', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if address.default == true %>
        <td> Dirección actual de envío</td>
        <% else %>
        <td><%= link_to 'Hacer dirección de envío', addresses_default_path(address) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva dirección', new_address_path %>

<% end %>

<p><%= link_to 'Cerrar mi cuenta', edit_user_registration_path %> </p>
