<%= form_with(model: publisher, local: true) do |form| %>
  <% if publisher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>

      <ul>
      <% publisher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rut %>
    <%= form.number_field :rut %>
  </div>

  <div class="field">
    <%= form.label :giro %>
    <%= form.text_field :giro %>
  </div>

  <div class="field">
  <%= form.label :address %>
  <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :voucher %><br />
    <%= form.select :voucher, options_for_select(["Boleta", "Factura"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="field">
    <%= form.label :method %><br />
    <%= form.select :method, options_for_select(["Paypal", "Depósito", "Mach"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="field">
    <%= form.label :url_facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :url_twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :url_instagram %>
    <%= form.text_field :instagram %>
  </div>

  <div class="field">
    <%= form.label :url_website %>
    <%= form.text_field :website %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
