<%= form_with(model: publisher, local: true) do |form| %>
  <% if publisher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>

      <ul>
      <% publisher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="user-login-area mb-70">
        <div class="container">
          <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                <div class="billing-fields">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-register">
                              <%= form.label :nombre_de_fantasía_de_la_editorial %>
                              <%= form.text_field :name %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <h3> Datos de facturación </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-register">
                              <%= form.label :rut %>
                              <%= form.number_field :rut %>
                            </div>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                             <div class="single-register">
                               <%= form.label :razón_social %>
                               <%= form.text_field :razon %>
                             </div>
                          </div>

                        </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-register">
                              <%= form.label :giro %>
                              <p> En caso de no tener (por ejemplo, si eres escritor), escribe "no disponible". </p>
                              <%= form.text_field :giro %>
                            </div>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                             <div class="single-register">
                               <%= form.label :dirección %><br><br>
                               <%= form.text_area :address %>
                             </div>
                          </div>
                    </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <h3> Pago de membresía </h3>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <div class="single-register">
                                <%= form.label :método_de_pago %><br />
                                <p>¿Cómo pagarás tu membresía?</p>
                                <p>(Recuerda que con Paypal puedes usar tu tarjeta de crédito Visa o Mastercard).</p>
                                <br>
                                <%= form.select :method, options_for_select(["Paypal", "Depósito", "Mach"]), :class => 'genForm_dropBox' %>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                               <div class="single-register">
                                 <%= form.label :tipo_de_comprobante %><br/>
                                 <p> ¿Qué tipo de comprobante quieres que te entreguemos cuando pagues tu membresía? <p>
                                 <p>(La factura es sólo válida para empresas)</p>
                                 <%= form.select :voucher, options_for_select(["Boleta", "Factura"]), :class => 'genForm_dropBox' %>
                               </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <h3> Redes sociales </h3>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="single-register">
                                   <%= form.label :url_facebook %>
                                   <%= form.text_field :facebook %>
                                 </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="single-register">
                                    <%= form.label :url_twitter %>
                                    <%= form.text_field :twitter %>
                                  </div>
                               </div>

                               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <div class="single-register">
                                     <%= form.label :url_instagram %>
                                     <%= form.text_field :instagram %>
                                   </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-register">
                                      <%= form.label :url_sitio_web%>
                                      <%= form.text_field :website %>
                                    </div>
                                 </div>
                    </div>
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="text-center mb-30">
                              <div class="buttons-cart mb-30">
                              <%= form.submit "Guardar editorial" %>
                              </div>

                          </div>
                        </div>
                     </div>
                </div>
            </div>

          </div>
        </div>
      </div>
<% end %>
