<p id="notice"><%= notice %></p>
<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

                <div class="col-lg-12">
                  <div class="login-title text-center mb-30">
                    <h2>Editoriales</h2>
                  </div>
                </div>

                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="cart-main-area mb-70">

                      <div class="container">
                        <div class="row">
                          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <form action="#">
                              <div class="table-content table-responsive">
                                <table>
                                  <tbody>
                                    <% @publishers.each do |publisher| %>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="height: 180px">
                                          <% if publisher.books.any? %>
                                          <p><%= link_to image_tag("#{publisher.books.last.cover.thumb.url}", :alt => publisher.name), publisher_path(publisher) %><br><%= publisher.name %></p>
                                          <% else %>
                                          <p><a href="<%= publisher_path(publisher) %>"><img src="<%= asset_path 'fallback/thumb_fallback.jpeg' %>" alt="book" /></a><br><%= publisher.name %></p>
                                          <% end %>
                                        </div>
                                    <% end %>
                                  </tbody>
                                </table>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                          <div class="pagination-area mt-50 mb-100">
                            <div class="list-page-2">
                              <p><%= paginate @publishers %></p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <%= render 'layouts/sidepanel' %>
     </div>
  </div>
</div>
