<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @publisher.rut %>
</p>

<p>
  <strong>Giro:</strong>
  <%= @publisher.giro %>
</p>



<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
