<p id="notice"><%= notice %></p>

<h1>
  <%= @publisher.name %>
</h1>

<p>
  <% @publisher.books.each do |book| %>
<p>  <%= book.title%> por <%= book.author_first_name %> <%=" "%><%=book.author_last_name %></p>
  <% end %>
</p



<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
