<p id="notice"><%= notice %></p>
<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

                <div class="col-lg-12">
                  <div class="login-title text-center mb-30">
                    <h2><%= @publisher.name %></h2>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="link-follow text-center"
                        <ul>
                            <% if @publisher.twitter.present? %>
                              <%= link_to @publisher.twitter_link, target: "_blank" do %>
                              <%= image_tag asset_path("twitter.png"), :class => "socialmedia" %>
                              <% end %>
                            <% end %>
                            <% if @publisher.facebook.present? %>
                              <%= link_to @publisher.facebook_link, target: "_blank" do %>
                              <%= image_tag asset_path("facebook.png"), :class => "socialmedia" %>
                              <% end %>
                            <% end %>
                            <% if @publisher.instagram.present? %>
                              <%= link_to @publisher.instagram_link, target: "_blank" do %>
                              <%= image_tag asset_path("instagram.png"), :class => "socialmedia" %>
                              <% end %>
                            <% end %>
                            <% if @publisher.website.present? %>
                              <%= link_to @publisher.website, target: "_blank" do %>
                              <%= image_tag asset_path("website.png"), :class => "socialmedia" %>
                              <% end %>
                            <% end %>
                        </ul>
                  </div>
                </div>

                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="cart-main-area mb-70">

                        <% @pbooks.each do |book| %>

                          <div class="single-shop mb-60">
                            <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="product-wrapper-2">
                                  <div class="product-img">
                                    <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book) %>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="product-wrapper-content">
                                  <div class="product-details">
                                    <h4><a href="<%= book_path(book) %>"><%= book.title %></a></h4>
                                    <h5> <%= book.author_first_name %> <%= book.author_last_name %> <h5>
                                    <div class="product-price">
                                      <ul>
                                        <li><%= number_to_currency(book.price, precision: 0) %></li>
                                        <li class="old-price"><%= number_to_currency(book.pvp, precision: 0) %></li>
                                      </ul>
                                    </div>
                                    <p><%= book.synopsis %> </p>
                                  </div>
                                  <div class="product-link">
                                    <div class="product-button">
                                      <%= link_to 'Agregar al carro', book_orders_path(book), method: :post%> <i class="fa fa-shopping-cart"> </i>
                                    </div>
                                    <div class="add-to-link">
                                                                  <ul>
                                                                    <li><a href="<%= book_path(book) %>" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                                  </ul>
                                                              </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        <% end %>

                        <div class="row">
                          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="pagination-area mt-50 mb-100">
                              <div class="list-page-2">
                                <p><%= paginate @pbooks %></p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="product-info-area mt-80">
                          <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#Reviews" data-toggle="tab">Comentarios</a></li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane active" id="Reviews">
                                <div class="valu valu-2">
                                    <div class="review-field-ratings">
                                      <div class="control">
                                        <div class="single-control">
                                            <% if signed_in? && current_user.role =='Lector' %>
                                                      <% @publisher.publisher_comments.each do |publisher_comment| %>
                                                          <div class="review-control-vote">
                                                              <%= publisher_comment.content%>
                                                                <% if signed_in? && publisher_comment.user == current_user %>
                                                                    <%= link_to 'X', remove_publisher_comment_publisher_path(@publisher, publisher_comment_id: publisher_comment.id), method: :delete %>
                                                                <% end %>
                                                          </div><br>
                                                      <% end %>

                                           <% else %>
                                                     <% @publisher.publisher_comments.each do |publisher_comment| %>
                                                          <div class="review-control-vote">
                                                              <%= publisher_comment.content%>
                                                          </div><br>
                                                    <% end %>
                                            <% end %>

                                        </div>
                                     </div>
                                    </div>
                                    <% if signed_in? && current_user.role == 'Lector' %>
                                     <div class="review-add">
                                        <h3>Estás comentando:</h3>
                                        <h4><%= @publisher.name %></h4>
                                      </div>

                                        <div class="review-form">
                                            <div class="single-form">
                                                        <p><%= form_tag (add_publisher_comment_publisher_path(@publisher)) do %>
                                                              <%= text_area_tag "content" %></p>
                                                              <div class="buttons-cart mb-10">
                                                                    <%= submit_tag "Guardar comentario"%>
                                                              </div>
                                            </div>

                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                          </div>
                        </div>


                    </div>
                  </div>

                <%= render 'layouts/sidepanel' %>
     </div>
  </div>
</div>
