<p id="notice"><%= notice %></p>

<% if @membership_orders.exists? %>
<h1>Membership Orders</h1>

<table>
  <thead>
    <tr>
      <th>Membership</th>
      <th>Price</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_orders.each do |membership_order| %>
      <tr>
        <td><%= membership_order.membership.name %></td>
        <td><%= number_to_currency(membership_order.membership.price, precision:0) %></td>
        <td><%= membership_order.paid %></td>
        <td><%= link_to 'Borrar', membership_order, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<p>No tienes ninguna membresía por comprar </p>
<% end %>
