<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author_first_name %>
    <%= form.text_field :author_first_name %>
  </div>

  <div class="field">
    <%= form.label :author_last_name %>
    <%= form.text_field :author_last_name %>
  </div>

  <%= form.hidden_field :publisher_id, value: current_user.publisher.present? ? current_user.publisher.id : nil %>


  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover, id: :cover_image %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.number_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<strong> Género: </strong>
<% @book.genres.each do |genre| %>
<%= genre.name%>
<%=  link_to 'X', remove_genre_book_path(@book, genre_id: genre.id), method: :delete %>
<% end %>

<%= form_tag (add_genre_book_path(@book)) do %>
<%= text_field_tag "name" %>
<% end %>
