<p id="notice"><%= notice %></p>

<!-- slider-group -->
<div class="slider-group  mt-30">
  <div class="container">
    <div class="row">
      <!-- slider_area -->
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="slider-area">
                <div class="slider-active owl-carousel" id="main">
                    <div class="single-slider slider-hm4-1 pt-154 pb-154 bg-img" style="background-image:url(<%= asset_path 'banners/IndexMainReading.png' %>);">
                        <div class="slider-content-4 slider-animated-1 pl-40">
                            <h1>Revisa nuestras ofertas </h1>
                            <h2>Descuentos en todos los libros</h2>
                        </div>
                    </div>
                    <div class="single-slider pt-154 pb-154 bg-img" style="background-image:url(<%= asset_path 'banners/IndexMainBook.png' %>);">
                        <div class="slider-content-4 slider-animated-1 pl-40">
                            <h1>Oferta para editoriales</h1>
                            <h2>Sólo $20.000 al año</h2>
                            <a href="<%= memberships_path %>">Contrata ahora</a>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <!-- static_banner_area -->
      <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
        <div class="banner-static-2">
          <div class="banner-img-2">
            <a href="<%= users_about_path %>"><img src="<%= asset_path 'banners/IndexRightDoor2.png' %>" alt="banner" /></a>
          </div>

         <div class="banner-area-3">
           <div class="single-banner-2 mt-16">
              <div class="single-icon-2">
                  <a href="<%= users_about_path %>">
                      <img class="service-blue-img" src="<%= asset_path 'img/icon-img/service-1.png' %>" alt="banner" />
                      <img class="service-white-img" src="<%= asset_path 'img/icon-img/service-1-white.png' %>" alt="banner" />
                  </a>
              </div>
              <div class="single-text-2">
                <h2>Directo a tu puerta</h2>
                <p>Enviado por la editorial</p>
              </div>
           </div>

            <div class="single-banner-2 mt-16">
              <div class="single-icon-2">
                    <a href="<%= users_about_path %>">
                      <img class="service-blue-img" src="<%= asset_path 'img/icon-img/service-2.png' %>" alt="banner" />
                      <img class="service-white-img" src="<%= asset_path 'img/icon-img/service-2-white.png' %>" alt="banner" />
                    </a>
              </div>
              <div class="single-text-2">
                    <h2>Entrega en 15 días hábiles</h2>
                    <p>Máximo para ventas en Chile</p>
              </div>
            </div>

            <div class="single-banner-2 mt-16">
                <div class="single-icon-2">
                    <a href="<%= users_about_path %>">
                        <img class="service-blue-img" src="<%= asset_path 'img/icon-img/service-3.png' %>" alt="banner" />
                        <img class="service-white-img" src="<%= asset_path 'img/icon-img/service-3-white.png' %>" alt="banner" />
                    </a>
                </div>
                <div class="single-text-2">
                    <h2>Te devolvemos tu dinero</h2>
                    <p>Si el libro no te llega</p>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- slider-group-end -->
<!-- home-main-area-start -->
<div class="home-main-area mt-30">
    <div class="container">
        <div class="row">

              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <!-- category-area-start -->
                      <div class="category-area mb-30">
                        <h3><a href="#">Géneros </a></h3>
                        <div class="category-menu">
                          <nav class="menu">
                            <ul>
                              <% Genre.select(:name).distinct.each do |genre|  %>
                                <% genre = Genre.find_by_name genre[:name] %>
                                <li class="cr-dropdown"><a href="<%= genre_path(genre.id)%>"><%= genre.name.titleize %><i class="none-lg fa fa-angle-down"></i></a>
                                </li>
                              <% end %>


                            </ul>
                          </nav>
                        </div>
                      </div>

                      <!-- most-product-area-start -->
                      <div class="most-product-area mb-30">
                        <div class="section-title-2 mb-30">
                          <h3>Últimas Editoriales </h3>
                        </div>
                        <div class="product-active-2 owl-carousel" id="trending">

                          <div class="product-total-2">
                            <% @publishers.last(3).reverse.each do |publisher| %>
                            <div class="single-most-product bd mb-18">
                              <div class="most-product-img">
                                <% if publisher.books.exists? %>
                                  <% publisher.books.last do |book|  %>
                                    <%= image_tag book.thumb.cover.url %>
                                  <% end %>
                                <% else %>
                                  <%= image_tag 'fallback/thumb_fallback.jpeg' %>
                                <% end %>
                              </div>
                              <div class="most-product-content">
                                <%= publisher.name %>
                                <div class="product-price">
                                  <ul>
                                    <li><%= link_to "#{publisher.name}", publisher_path(publisher.id) %></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <% end %>
                          </div>


                        </div>
                      </div>

                      <!-- banner-area-start -->
                      <div class="banner-area mb-30">
                        <div class="banner-img-2">
                          <a href="<% users_publishers_path %>"><img src="<%= asset_path 'banners/IndexLeftComission.png' %>" alt="banner" /></a>
                        </div>
                      </div>

              </div>
              <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <!-- new-book-area-start -->

                        <div class="new-book-area ptb-50 mb-20">
                            <% if @books.any? %>
                                    <div class="section-title-2 mb-20">
                                      <h3>Novedades</h3>
                                    </div>

                                    <div class="tab-active-3 owl-carousel" id="new">
                                        <% @books.last(10).reverse.each do |book| %>
                                            <div class="tab-total">
                                                  <div class="product-wrapper mb-20">
                                                      <div class="product-img">
                                                          <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                                                          <div class="quick-view">
                                                              <a class="action-view" href="#" data-target="#productModal<%= book.id %>" data-toggle="modal" title="Quick View">
                                                                <i class="fa fa-search-plus"></i>
                                                              </a>
                                                          </div>
                                                          <div class="product-flag">
                                                              <ul>
                                                                <li><span class="sale">Nuevo</span></li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                      <div class="product-details text-center">
                                                          <h4><a href="<%= book_path(book.id) %>"><%= book.title %></a></h4>
                                                          <h4><a href="<%= book_path(book.id) %>"><%= book.author_first_name %> <%= book.author_last_name %></a></h4>
                                                          <div class="product-price">
                                                              <ul>
                                                                <li><%= number_to_currency(book.price, precision: 0) %></li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                      <div class="product-link">
                                                          <div class="product-button">
                                                            <%= link_to 'Agregar al carro', book_orders_path(book), method: :post%> <i class="fa fa-shopping-cart"> </i>
                                                          </div>
                                                      </div>
                                                  </div>
                                            </div>
                                        <% end %>
                                   </div>

                            <% else %>
                                <div class="section-title-2 mb-30">
                                    <h3>Búsqueda</h3>
                                    <h4>No hay libros con esos criterios</h4>
                                </div>
                            <% end %>
                        </div>
                <!-- banner-area-5-start -->
                        <div class="banner-area-5 mb-70">
                            <div class="single-banner-4 xs-mb">
                                <div class="banner-img-2">
                                    <a href="#"><img src="<%= asset_path 'banners/IndexMiddleLargeOffers.png' %>" alt="banner" /></a>
                                </div>
                            </div>
                            <div class="single-banner-5">
                                <div class="banner-img-2">
                                    <a href="#"><img src="<%= asset_path 'banners/IndexMiddleSmallEscape2.png' %>" alt="banner" /></a>
                                </div>
                            </div>
                        </div>


                <!-- product-area-start -->
                        <div class="product-area">
                            <div class="row">

                                  <div class="col-md-4 col-sm-12 xs-mb">
                                       <div class="section-title-2 mb-30">
                                             <h3>Los más vendidos</h3>
                                       </div>
                                       <div class="product-active-3 owl-carousel" id="product">
                                                <div class="product-total-2">
                                                    <% @byorders.limit(3).each do |book| %>
                                                          <div class="single-most-product bd mb-18">
                                                                <div class="most-product-img">
                                                                  <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                                                                </div>
                                                                <div class="most-product-content">
                                                                    <p><%= book.author_first_name %> <%=book.author_last_name %></p>
                                                                    <div class="product-price">
                                                                        <ul>
                                                                            <li><a href="<%= book_path(book.id) %>"><%= book.title %></a></li><br>
                                                                            <li><%= number_to_currency(book.price, precision: 0) %></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                          </div>
                                                    <% end %>
                                                </div>
                                       </div>
                                  </div>

                                  <div class="col-md-4 col-sm-12 xs-mb">
                                       <div class="section-title-2 mb-30 mrg-sm">
                                              <h3>Los más comentados </h3>
                                       </div>
                                       <div class="product-active-3 owl-carousel" id="product2">
                                        <div class="product-total-2">
                                            <% @bycomments.limit(3).each do |book| %>
                                                  <div class="single-most-product bd mb-18">
                                                        <div class="most-product-img">
                                                          <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                                                        </div>
                                                        <div class="most-product-content">
                                                            <p><%= book.author_first_name %> <%=book.author_last_name %></p>
                                                            <div class="product-price">
                                                                <ul>
                                                                    <li><a href="<%= book_path(book.id) %>"><%= book.title %></a></li><br>
                                                                    <li><%= number_to_currency(book.price, precision: 0) %></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                  </div>
                                            <% end %>
                                        </div>
                                       </div>
                                  </div>

                                  <div class="col-md-4 col-sm-12">
                                       <div class="section-title-2 mb-30 mrg-sm">
                                               <h3>Los más nuevos</h3>
                                       </div>
                                       <div class="product-active-3 owl-carousel" id="product3">
                                        <div class="product-total-2">
                                            <% Book.all.last(3).reverse.each do |book| %>
                                                  <div class="single-most-product bd mb-18">
                                                        <div class="most-product-img">
                                                          <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                                                        </div>
                                                        <div class="most-product-content">
                                                            <p><%= book.author_first_name %> <%=book.author_last_name %></p>
                                                            <div class="product-price">
                                                                <ul>
                                                                    <li><a href="<%= book_path(book.id) %>"><%= book.title %></a></li><br>
                                                                    <li><%= number_to_currency(book.price, precision: 0) %></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                  </div>
                                            <% end %>
                                        </div>
                                       </div>
                                  </div>

                            </div>
                        </div>
              </div>

        </div>
    </div>
</div>
<!-- home-main-area-end -->
<!-- banner-area-start -->
<div class="banner-area-5 mtb-70">
    <div class="container">
        <div class="row">
              <div class="col-lg-12">
                    <div class="banner-img-2 for-height">
                        <a href="#"><img src="<%= asset_path 'banners/IndexBottomBooks.png' %>" alt="banner" /></a>
                        <div class="banner-text">
                            <h3>Original | Económica | Libre</h3>
                            <h2>Descubre la literatura independiente</h2>
                        </div>
                    </div>
              </div>
        </div>
    </div>
</div>
<!-- banner-area-end -->

<!-- Modal -->
  <% @books.each do |book| %>
<div class="modal fade" id="productModal<%= book.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="modal-tab">
                                        <div class="product-details-large tab-content">
                                              <div class="tab-pane active" id="image-1">
                                                  <%= link_to image_tag("#{book.cover.url}", :alt => book.title), book_path(book.id) %>
                                              </div>
                                        </div>
                                        <div class="product-details-small quickview-active owl-carousel">
                                              <%= link_to image_tag("#{book.cover.url}", :alt => book.title), book_path(book.id) %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <div class="modal-pro-content">
                                            <h3><%= book.title %> </h3>
                                            <div class="price">
                                                <span><%= number_to_currency(book.price, precision: 0) %> </span>
                                            </div>
                                            <p><%= book.synopsis %> </p>
                                            <h4>  <%= link_to 'Agregar al carro', book_orders_path(book), method: :post%> <i class="fa fa-shopping-cart"> </i></h4>

                                    </div>
                                </div>

                        </div>
                    </div>
            </div>
    </div>
</div>
  <% end %>
