<p id="notice"><%= notice %></p>

<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <!-- product-main-area-start -->
        <div class="product-main-area">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
              <div class="flexslider">
                <ul class="slides">
                  <li>
                    <%= image_tag @book.cover.url%>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
              <div class="product-info-main">
                <div class="page-title">
                  <h1><%= @book.title %></h1>
                  <h3><%= @book.author_first_name%> <%= @book.author_last_name%></h3>
                </div>
                <div class="product-reviews-summary">
                  <div class="reviews-actions">
                      <a href="#"><%= @book.comments.count %> comentarios | </a>
                        <% if signed_in? && current_user.role =='Lector' %>
                      <%= link_to "Deja tu comentario", book_path(@book, anchor: 'com') %>
                      <% end %>
                  </div>
                </div>
                <div class="product-info-price">
                  <div class="price-final">
                    <span><%= number_to_currency(@book.price, precision: 0) %></span>
                    <span class="old-price"><%= number_to_currency(@book.pvp, precision: 0) %></span>
                  </div>
                </div>

                <% if signed_in? && current_user.role == 'Lector' %>
                <div class="product-add-form">
                    <form action="#">
                      <%= link_to 'Agregar al carro', book_orders_path(@book), method: :post%>
                    </form>
                </div>
                <% end %>

                <% if signed_in? && @book.publisher.user == current_user %>
                  <div class="product-add-form">
                    <form action="#">
                      <%= link_to 'Editar Libro', edit_book_path(@book) %>
                    </form>
                  </div>
                  <div class="product-add-form">
                    <form action="#">
                      <%= link_to 'Agregar Género', book_path(@book, anchor: 'com') %>
                    </form>
                  </div>
               <% end %>


                <div class="product-social-links">
                  <div class="product-addto-links-text">
                    <p><%= @book.synopsis %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- product-main-area-end -->
        <!-- product-info-area-start -->
        <div class="product-info-area mt-80">
          <!-- Nav tabs -->
          <a id="com"></a>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#Details" data-toggle="tab">Detalles</a></li>
            <li><a href="#Reviews" data-toggle="tab">Comentarios</a></li>
          </ul>
          <div class="tab-content">
                            <div class="tab-pane active" id="Details">
                                <div class="valu">
                                  <ul>
                                    <li> <h4>Editorial: </h4>  <%= link_to "#{@book.publisher.name}", publisher_path(@book.publisher.id) %></li><br>
                                    <li><h4>ISBN: </h4> <%= @book.isbn %></li><br>
                                    <li> <h4>Género: </h4>
                                          <% if @book.genres.any? %>
                                                <% @book.genres.each do |genre| %>
                                                    <p><%= genre.name%>

                                                      <%=  link_to 'X', remove_genre_book_path(@book, genre_id: genre.id), method: :delete %></p>

                                                <% end %>
                                          <% else %>
                                                <p>Este libro no tiene géneros asociados.</p>
                                          <% end %>
                                    </li><br>
                                    <li>
                                          <% if signed_in? && @book.publisher.user == current_user %>
                                                <h4>Agregar género:</h4>
                                                <%= form_tag (add_genre_book_path(@book)) do %>
                                                  <%= text_field_tag "name" %>
                                                <% end %>
                                          <% end %>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="Reviews">
                                <div class="valu valu-2">
                                    <div class="section-title mb-10 mt-10">
                                        <h4>Comentarios</h4>
                                    </div>
                                    <div class="review-field-ratings">
                                      <div class="control">
                                        <div class="single-control">
                                            <% if signed_in? && current_user.role =='Lector' %>
                                                      <% @book.comments.each do |comment| %>
                                                          <div class="review-control-vote">
                                                              <%= comment.content%>
                                                                <% if signed_in? && comment.user == current_user %>
                                                                    <%= link_to 'X', remove_comment_book_path(@book, comment_id: comment.id), method: :delete %>
                                                                <% end %>
                                                          </div><br>
                                                      <% end %>

                                           <% else %>
                                                     <% @book.comments.each do |comment| %>
                                                          <div class="review-control-vote">
                                                              <%= comment.content%>
                                                          </div><br>
                                                    <% end %>
                                            <% end %>

                                        </div>
                                     </div>
                                    </div>
                                    <% if signed_in? && current_user.role == 'Lector' %>
                                     <div class="review-add">
                                        <h3>Estás comentando:</h3>
                                        <h4><%= @book.title %></h4>
                                      </div>

                                        <div class="review-form">
                                            <div class="single-form">
                                                        <p><%= form_tag (add_comment_book_path(@book)) do %>
                                                              <%= text_area_tag "content" %></p>
                                                              <div class="buttons-cart mb-10">
                                                                    <%= submit_tag "Guardar comentario"%>
                                                              </div>
                                            </div>

                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
          </div>
        </div>
      </div>
        <!-- product-info-area-end -->
        <!-- new-book-area-start -->

        <!-- new-book-area-start -->

      <%= render 'layouts/sidepanel' %>

    </div>
  </div>
</div>
