<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @book.cover.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author first name:</strong>
  <%= @book.author_first_name %>
</p>

<p>
  <strong>Author last name:</strong>
  <%= @book.author_last_name %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= link_to "#{@book.publisher.name}", publisher_path(@book.publisher.id) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>

<p>
  <strong> Genre: </strong>
  <% @book.genres.each do |genre| %>
  <%= genre.name%>
  <%=  link_to 'X', remove_genre_book_path(@book, genre_id: genre.id), method: :delete %>
  <% end %>

  <%= form_tag (add_genre_book_path(@book)) do %>
  <%= text_field_tag "name" %>
  <% end %>

  <strong> Comments: </strong>
  <% @book.comments.each do |comment| %>
  <%= comment.content%>
  <%=  link_to 'X', remove_comment_book_path(@book, comment_id: comment.id), method: :delete %>
  <% end %>

  <%= form_tag (add_comment_book_path(@book)) do %>
  <%= text_field_tag "Comentario" %>
  <% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
