<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @book.cover.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author first name:</strong>
  <%= @book.author_first_name %>
</p>

<p>
  <strong>Author last name:</strong>
  <%= @book.author_last_name %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= link_to "#{@book.publisher.name}", publisher_path(@book.publisher.id) %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@book.price, precision: 0) %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>

<strong> Género: </strong>
<% @book.genres.each do |genre| %>
    <p><%= genre.name%>
    <% if signed_in? && current_user.role == 'Editorial'%>
      <%=  link_to 'X', remove_genre_book_path(@book, genre_id: genre.id), method: :delete %></p>
    <% end %>
<% end %>
<br>
<% if signed_in? && current_user.role == 'Editorial'%>
    <h3>Agregar género</h3>
    <p><%= form_tag (add_genre_book_path(@book)) do %>
    <%= text_field_tag "name" %></p>
    <% end %>
<% end %>

<strong> Comentarios: </strong>
<% if signed_in? && current_user.role =='Lector' %>
    <% @book.comments.each do |comment| %>
        <p><%= comment.content%>
        <%= link_to 'X', remove_comment_book_path(@book, comment_id: comment.id), method: :delete %></p>
    <% end %>
<% else %>
    <% @book.comments.each do |comment| %>
        <p><%= comment.content%></p>
    <% end %>
<% end %>

<% if signed_in? && current_user.role == 'Lector' %>
    <p><%= link_to 'Comprar', book_orders_path(@book), method: :post %> </p>
    <h3>Agregar comentario</h3>
    <%= form_tag (add_comment_book_path(@book)) do %>
    <%= text_field_tag "content" %>
    <% end %>
<% end %>

<% if signed_in? && current_user.role == 'Editorial' %>
  <p><%= link_to 'Editar', edit_book_path(@book) %></p>
<% end %>
<p><%= link_to 'Novedades', books_path %></p>
