<p id="notice"><%= notice %></p>

<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <!-- product-main-area-start -->
        <div class="product-main-area">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
              <div class="flexslider">
                <ul class="slides">
                  <li>
                    <%= image_tag @book.cover.url%>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
              <div class="product-info-main">
                <div class="page-title">
                  <h1><%= @book.title %></h1>
                  <h3><%= @book.author_first_name%> <%= @book.author_last_name%></h3>
                </div>
                <div class="product-reviews-summary">
                  <div class="reviews-actions">
                      <a href="#"><%= @book.comments.count %> comentarios | </a>
                      <%= link_to "Deja tu comentario", book_path(@book, anchor: 'com') %>
                  </div>
                </div>
                <div class="product-info-price">
                  <div class="price-final">
                    <span><%= number_to_currency(@book.price, precision: 0) %></span>
                  </div>
                </div>
                <div class="product-add-form">
                    <form action="#">
                      <%= link_to 'Agregar al carro', book_orders_path(@book), method: :post%>
                    </form>
                </div>
                <div class="product-add-form">
                    <form action="#">
                    <% if signed_in? && current_user.role == 'Editorial' %>
                      <%= link_to 'Editar Libro', edit_book_path(@book) %>
                    <% end %>
                  </form>
               </div>
                <div class="product-social-links">
                  <div class="product-addto-links-text">
                    <p><%= @book.synopsis %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- product-main-area-end -->
        <!-- product-info-area-start -->
        <div class="product-info-area mt-80">
          <!-- Nav tabs -->
          <a id="com"></a>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#Details" data-toggle="tab">Detalles</a></li>
            <li><a href="#Reviews" data-toggle="tab">Comentarios</a></li>
          </ul>
          <div class="tab-content">
                            <div class="tab-pane active" id="Details">
                                <div class="valu">
                                  <ul>
                                    <li> <h4>Editorial: </h4>  <%= link_to "#{@book.publisher.name}", publisher_path(@book.publisher.id) %></li><br>
                                    <li><h4>ISBN: </h4> <%= @book.isbn %></li><br>
                                    <li> <h4>Género: </h4>
                                          <% if @book.genres.any? %>
                                                <% @book.genres.each do |genre| %>
                                                    <p><%= genre.name%>
                                                    <% if signed_in? && current_user.role == 'Editorial'%>
                                                      <%=  link_to 'X', remove_genre_book_path(@book, genre_id: genre.id), method: :delete %></p>
                                                    <% end %>
                                                <% end %>
                                          <% else %>
                                                <p>Este libro no tiene géneros asociados.</p>
                                          <% end %>
                                    </li><br>
                                    <li>
                                          <% if signed_in? && current_user.role == 'Editorial'%>
                                                <h4>Agregar género:</h4>
                                                <%= form_tag (add_genre_book_path(@book)) do %>
                                                  <%= text_field_tag "name" %>
                                                <% end %>
                                          <% end %>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="Reviews">
                                <div class="valu valu-2">
                                    <div class="section-title mb-10 mt-10">
                                        <h4>Comentarios</h4>
                                    </div>
                                    <div class="review-field-ratings">
                                      <div class="control">
                                        <div class="single-control">
                                              <div class="review-control-vote">
                                                    <% if signed_in? && current_user.role =='Lector' %>
                                                          <% @book.comments.each do |comment| %>
                                                              <p> <%= comment.content%>
                                                              <%= link_to 'X', remove_comment_book_path(@book, comment_id: comment.id), method: :delete %></p>
                                                          <% end %>
                                                    <% else %>
                                                         <% @book.comments.each do |comment| %>
                                                              <p><%= comment.content%></p>
                                                          <% end %>
                                                    <% end %>
                                               </div>
                                        </div>
                                     </div>
                                    </div>
                                     <div class="review-add">
                                        <h3>Estás comentando:</h3>
                                        <h4><%= @book.title %></h4>
                                      </div>
                                        <div class="review-form">
                                            <div class="single-form">
                                                    <% if signed_in? && current_user.role == 'Lector' %>
                                                        <p><%= form_tag (add_comment_book_path(@book)) do %>
                                                              <%= text_area_tag "content" %></p>
                                                          <% end %>
                                                      <% end %>
                                            </div>
                                        </div>
                                        <div class="buttons-cart mb-10">
                                              <p><%= submit_tag "Guardar comentario"%></p>
                                        </div>
                                </div>
                            </div>
          </div>
        </div>
      </div>
        <!-- product-info-area-end -->
        <!-- new-book-area-start -->

        <!-- new-book-area-start -->

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="shop-left">
          <div class="left-title mb-20">
            <h4>Novedades </h4>
          </div>
          <div class="random-area mb-30">
            <div class="product-active-2 owl-carousel" id=latest>
              <div class="product-total-2">
                <% Book.all.last(3).reverse.each do |book| %>
                    <div class="single-most-product bd mb-18">
                      <div class="most-product-img">
                        <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                      </div>
                      <div class="most-product-content">
                        <h4><%= book.author_first_name %> <%=book.author_last_name %></h4>
                        <div class="product-price">
                            <ul>
                                <li><a href="<%= book_path(book.id) %>"><%= book.title %></a></li><br>
                                <li><%= number_to_currency(book.price, precision: 0) %></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="banner-area mb-30">
            <div class="banner-img-2">
              <a href="<%= users_about_path %>"><img src="<%= asset_path 'banners/ShowRightHouse2.png' %>" alt="banner" /></a>
            </div>
          </div>
          <div class="left-title mb-20">
            <h4>Los más comentados</h4>
          </div>
          <div class="random-area mb-30">
            <div class="product-active-2 owl-carousel" id=commented>
              <div class="product-total-2">
                <% @bycomments.limit(3).each do |book| %>
                    <div class="single-most-product bd mb-18">
                      <div class="most-product-img">
                        <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                      </div>
                      <div class="most-product-content">
                        <h4><%= book.author_first_name %> <%=book.author_last_name %></h4>
                        <div class="product-price">
                            <ul>
                                <li><a href="<%= book_path(book.id) %>"><%= book.title %></a></li><br>
                                <li><%= number_to_currency(book.price, precision: 0) %></li>
                            </ul>
                      </div>
                      </div>
                    </div>
                <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
