<div class="user-login-area mb-70">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <div class="login-title text-center mb-30">
              <h2>Entrar</h2>
            </div>
          </div>
      </div>
    </div>
  </div>

        <div class="user-login-area mb-70">
          <div class="container">
            <div class="row">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                  <div class="billing-fields">
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <div class="form-group">
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                              </div>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <div class="form-group">
                                <%= f.label :contraseña %><br />
                                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
                              </div>
                           </div>
                      </div>
                      <div class="row">

                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                             <% if devise_mapping.rememberable? -%>
                               <div class="form-group">
                                 <%= f.check_box :remember_me %>
                                 <%= f.label :recuérdame %>
                               </div>
                              <% end -%>
                            </div>
                      </div>
                       <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="text-center mb-30">
                                <div class="buttons-cart mb-30">
                                <%= f.submit "Entrar" %>
                                </div>
                            </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="text-center mb-30">
                                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                                    <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) %><br />
                                  <% end %>
                            </div>
                          </div>
                       </div>
                  </div>
              </div>
                <% end %>
            </div>
          </div>
        </div>
