<% if user_signed_in? && current_user.role == 'Lector' %>
<% if current_user.billings.any? %>


<p id="notice"><%= notice %></p>
<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="login-title text-center mb-30">
          <h2>¡Gracias por tu compra!</h2>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="cart-main-area mb-70">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <form action="#">
                        <div class="table-content table-responsive">
                          <table>
                            <thead>
                              <tr>
                                <th class="product-thumbnail">Portada</th>
                                <th class="product-name">Título</th>
                                <th class="product-price">Precio</th>
                                <th class="product-quantity">Editorial</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% @billing.orders.each do |order| %>
                              <tr>
                                <td class="product-thumbnail"><%= link_to image_tag("#{order.book.cover.thumb.url}", :alt => order.book.title), book_path(order.book_id) %></td>
                                <td class="product-quantity"><h4><a href="<%= book_path(order.book_id) %>"><%= order.book.title %></a></h4></td>
                                <td class="product-quantity"><span class="amount"><%= number_to_currency(order.book.price, precision: 0) %></span></td>
                                <td class="product-quantity"><h4><a href="<%= publisher_path(order.book.publisher_id) %>"><%= order.book.publisher.name %></a></h4></td>
                              </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                      </form>
                    </div>
                 </div>
                 <div class="row">
                             <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     <div class="wc-proceed-to-checkout">
                                         <h2>Total: <span class="amount"><%= number_to_currency(@total, precision: 0) %> </span></h2><br>
                                     </div>
                                     <div>
                                       <% if @addresses.any? %>
                                         <h4> Tu pedido se enviará a:</h4>
                                         <h4> <%= @reader.firstname %> <%= @reader.lastname %></h4>
                                         <h4><%= @adr %>,</h4>
                                         <h4> <%= @com %>, <%= @reg %>.</h4>
                                         <h4> <%= link_to "Cambiar", addresses_path%></h4>
                                       <% else %>
                                         <h4> ¡Ojo! No tienes una dirección de envío fijada.</h4>
                                         <h4> <%= link_to "Agregar dirección", addresses_path%></h4>
                                       <% end %>
                                     </div>

                                     <div>
                                         <br>
                                         <h4> Fecha de pedido: <%= @billing.created_at.to_date.strftime("%d/%m/%Y") %>. </h4>
                                         <h4> Si no te llega hasta <%= @expiration.to_date.strftime("%d/%m/%Y") %>, <a href="<%= users_contact_path %>">contáctate con nosotros.</a> </h4>
                                     </div>
                             </div>
                 </div>

                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="shop-left">
            <div class="left-title mb-20">
              <h4>Novedades </h4>
            </div>
            <div class="random-area mb-30">
              <div class="product-active-2 owl-carousel" id=latest>
                <div class="product-total-2">

                  <% Book.all.last(3).reverse.each do |book| %>
                      <div class="single-most-product bd mb-18">
                        <div class="most-product-img">
                          <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                        </div>
                        <div class="most-product-content">
                          <h4><%= book.author_first_name %> <%=book.author_last_name %></h4>
                          <div class="product-price">
                              <ul>
                                  <li><a href="<%= book_path(book.id) %>"><%= book.title %></a></li><br>
                                  <li><%= number_to_currency(book.price, precision: 0) %></li>
                              </ul>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="banner-area mb-30">
              <div class="banner-img-2">
                <a href="#"><img src="<%= asset_path 'img/banner/33.jpg' %>" alt="banner" /></a>
              </div>
            </div>
            <div class="left-title mb-20">
              <h4>Los más comentados</h4>
            </div>
            <div class="random-area mb-30">
              <div class="product-active-2 owl-carousel" id=commented>
                <div class="product-total-2">
                  <% @bycomments.limit(3).each do |book| %>
                      <div class="single-most-product bd mb-18">
                        <div class="most-product-img">
                          <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                        </div>
                        <div class="most-product-content">
                          <h4><%= book.author_first_name %> <%=book.author_last_name %></h4>
                          <div class="product-price">
                              <ul>
                                  <li><a href="<%= book_path(book.id) %>"><%= book.title %></a></li><br>
                                  <li><%= number_to_currency(book.price, precision: 0) %></li>
                              </ul>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
