
<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "errores") %> evitaron que se guarde esta direcci贸n:</h2>
        <ul>
          <% address.errors.each do |attribute, message| %>
          <li><%= message %></li>
  <% end %>
        </ul>
    </div>
<% end %>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="user-login-area mb-70">
        <div class="container">
          <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                <div class="billing-fields">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                              <%= form.label :nombre %>
                            (por ejemplo "casa") <br>
                              <%= form.text_field :title, class: 'form-control' %>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                              <%= form.label :direcci贸n %><br>
                              <%= form.text_field :address, class: 'form-control'%>
                            </div>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                             <div class="form-group">
                               <%= form.label :comuna %><br>
                               <%= form.text_field :commune, class: 'form-control' %>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <div class="form-group">
                                <%= form.label :regi贸n %><br>
                                <%= form.text_field :region, class: 'form-control' %>
                              </div>
                           </div>
                    </div>
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="text-center mb-30">
                              <div class="buttons-cart mb-30">
                              <%= form.submit "Guardar direcci贸n"%>
                              </div>

                          </div>
                        </div>
                     </div>
                </div>
            </div>

          </div>
        </div>
      </div>
<% end %>
