<!-- social-group-area-start -->

<!-- social-group-area-end -->
<!-- footer-area-start -->
<footer>
<!-- footer-top-start -->
      <div class="footer-top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="footer-top-menu bb-2">
                          <nav>
                              <ul>
                                  <li><a href="<%= books_path %>">Inicio</a></li>
                                  <li><a href="<%= memberships_path %>">Membresías</a></li>
                                  <li><a href="<%= users_faq_path %>">Preguntas frecuentes</a></li>
                                  <li><a href="<%= users_contact_path %>">Contáctanos</a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>

        <!-- footer-mid-start -->
        <div class="footer-mid ptb-50">
            <div class="container">
              <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="single-footer br-2 xs-mb">
                                              <div class="footer-title mb-20">
                                                    <h3>Síguenos</h3>
                                              </div>
                                              <div class="link-follow">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                    </ul>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="single-footer br-2 xs-mb">
                                                <div class="footer-title mb-20">
                                                    <h3>Nuestra empresa</h3>
                                                </div>
                                                <div class="footer-mid-menu">
                                                      <ul>
                                                        <li><a href="<%= users_faq_path %>">Preguntas frecuentes</a></li>
                                                        <li><a href="<%= users_contact_path %>">Contáctanos</a></li>
                                                        <li><a href="<%= users_about_path %>">Cómo funciona</a></li>
                                                        <li><a href="<%= memberships_path %>">Membresías</a></li>
                                                      </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="single-footer br-2 xs-mb">
                                                <div class="footer-title mb-20">
                                                    <h3>Tu cuenta</h3>
                                                </div>
                                                <div class="footer-mid-menu">
                                                      <ul>
                                                            <% if user_signed_in?%>
                                                              <li><a href="<%= users_profile_path %>">Mi perfil</a></li>
                                                            <% else %>
                                                              <li><a href="<%= new_user_session_path%>">Entrar</a></li>
                                                              <li><a href="<%= new_user_registration_path%>">Registrarse</a></li>
                                                            <% end %>
                                                            <% if user_signed_in? && current_user.role == 'Lector' %>
                                                              <li><a href="<%= addresses_path %>">Mis direcciones</a></li>
                                                              <li><a href="<%= orders_path %>">Mi carrito</a></li>
                                                              <% if current_user.billings.any? %>
                                                                <li><a href="<%= billings_path %>">Mis compras</a></li>
                                                              <% end %>
                                                            <% end %>
                                                            <% if user_signed_in? && current_user.role == 'Editorial' %>
                                                              <li><a href="<%= users_my_books_path %>">Mis libros</a></li>
                                                              <li><a href="<%= users_my_sales_path %>">Mis ventas</a></li>
                                                              <li><a href="<%= membership_orders_path %>">Mi carrito</a></li>
                                                              <% if current_user.millings.any? %>
                                                                <li><a href="<%= millings_path %>">Mi membresía</a></li>
                                                              <% end %>
                                                            <% end %>

                                                      </ul>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="single-footer mrg-sm">
                                          <div class="footer-title mb-20">
                                                <h3>Líbrate</h3>
                                          </div>
                                          <div class="footer-contact">
                                                <p class="adress">
                                                    Líbrate es una creación de Loba Ediciones Ltda. Nuestra intención es ofrecer una plataforma económica para conectar a las editoriales independientes con sus lectores.
                                                </p>

                                                <p><span>Email:</span>  librate@libratechile.cl</p>
                                          </div>
                                    </div>
                        </div>
              </div>
            </div>
        </div>
        <!-- footer-mid-end -->
        <!-- footer-bottom-start -->
        <div class="footer-bottom">
            <div class="container">
                  <div class="row bt-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="copy-right-area">
                                <p>Copyright ©<a href="#">Loba Ediciones</a>. Todos los derechos reservados.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="payment-img">
                                <a href="#"><img src="<%= asset_path 'Pay-pal-visa-y-master_x50.jpg' %>" alt="payment" /></a>
                            </div>
                        </div>
                  </div>
            </div>
      </div>
<!-- footer-bottom-end -->
</footer>
<!-- footer-area-end -->
