<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Feria del Libro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= publishers_path %>">Editoriales<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= readers_path %>">Lectores<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= books_path %>">Novedades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= users_profile_path%>">Mi perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= orders_path%>">Carrito de Compras</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= users_my_books_path%>">Mis libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_book_path%>">Agregar libro</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Genre.select(:name).distinct.each do |genre|  %>
            <% genre = Genre.find_by_name genre[:name] %>
            <a class="dropdown-item" href="<%= genre_path(genre.id)%>"> <%= genre.name.titleize %></a>
          <% end %>
        </div>
      </li>

      <%if user_signed_in?%>
      <li class="nav-item active"><a class="nav-link" href="<%= destroy_user_session_path%>" data-method="DELETE">Salir</a></li>
      <% else %>
          <li class="nav-item active"><a class="nav-link"href="<%= new_user_session_path%>">Entrar</a></li>
          <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path%>">Registrarse</a></li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="<%= books_path%>">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
