<header>

<!-- header-top-area-start -->
<div class="header-top-area">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="account-area text-right">
        <ul>
          <li><a href="<%= users_profile_path%>"> Mi perfil</a></li>
          <% if user_signed_in?%>
          <li><a href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a></li>
          <% else %>
              <li><a href="<%= new_user_session_path%>">Entrar</a></li>
              <li><a href="<%= new_user_registration_path%>">Registrarse</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<!-- header-top-area-end -->
<!-- header-mid-area-start -->
<div class="header-mid-area ptb-40">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <div class="logo-area">
        <a href="<%= root_path %>"><img src="<%= asset_path 'img/logo/3.png' %>" alt="logo" /></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
      <div class="header-search">
        <form action="<%= books_path%>">
          <input type="search" placeholder="Busca en toda la tienda"  name="query">
        </form>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <% if user_signed_in? %>
      <div class="my-cart">
        <ul>
          <li><a href="#"><i class="fa fa-shopping-cart"></i>Mi Carrito</a>
            <span><%= current_user.orders.where(payed: false).count %></span>
            <div class="mini-cart-sub">
              <div class="cart-product">
                <% current_user.orders.where(payed: false).each do |order| %>
                  <% book = order.book  %>
                  <div class="single-cart">
                    <div class="cart-img">
                      <%= link_to image_tag("#{book.cover.thumb.url}", :alt => book.title), book_path(book.id) %>
                    </div>
                    <div class="cart-info">
                      <h5><a href="<%= book_path(book.id) %>"><%= book.title %></a></h5>
                      <p><%= number_to_currency(book.price, precision: 0) %></p>
                    </div>
                    <div class="cart-icon">
                        <%= link_to "X", order, method: :delete %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="cart-totals">
                <h5>Total <span><td><%= number_to_currency(current_user.orders.where(payed: false).map{|order| order.book.price }.sum, precision: 0) %></td></span></h5>
              </div>
              <div class="cart-bottom">
                <a class="view-cart" href="<%= orders_path%>">Carrito de Compras</a>
                <a href="<%= prepay_billings_path %>">Pagar</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="main-menu-area hidden-sm hidden-xs" id="header-sticky">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="menu-area">
        <nav>
          <ul>
            <li class="active"><a href="<%= root_path %>">Inicio</a></li>
            <li><a href="<%= books_path %>">Libros<i class="fa fa-angle-down"></i></a>
              <div class="mega-menu">
                <span>
                  <% Genre.select(:name).distinct.each do |genre|  %>
                    <% genre = Genre.find_by_name genre[:name] %>
                    <a href="<%= genre_path(genre.id)%>"> <%= genre.name.titleize %></a>
                  <% end %>
                </span>
              </div>
            </li>
            <li><a href="#">Admin<i class="fa fa-angle-down"></i></a>
              <div class="sub-menu sub-menu-2">
                <ul>
                  <li><a href="<%= publishers_path %>">Editoriales</a></li>
                  <li><a href="<%= readers_path %>">Lectores</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Editoriales<i class="fa fa-angle-down"></i></a>
              <div class="sub-menu sub-menu-2">
                <ul>
                  <li> <a href="<%= users_my_books_path%>">Mis libros</a> </li>
                  <li><a href="<%= new_book_path%>">Agregar libro</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
<!-- main-menu-area-end -->
<!-- mobile-menu-area-start -->
<div class="mobile-menu-area hidden-md hidden-lg">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="mobile-menu">
        <nav id="mobile-menu-active">
          <ul id="nav">
            <li><a href="<%= root_path %>">Inicio</a></li>
            <li><a href="<%= books_path %>">Libros</a>
              <ul>
                <li><% Genre.select(:name).distinct.each do |genre|  %>
                  <% genre = Genre.find_by_name genre[:name] %>
                  <a href="<%= genre_path(genre.id)%>"> <%= genre.name.titleize %></a>
                <% end %></li>
              </ul>
            </li>
            <li><a href="#">Admin</a>
              <ul>
                <li><a href="<%= publishers_path %>">Editoriales</a></li>
                <li><a href="<%= readers_path %>">Lectores</a></li>
              </ul>
            </li>
            <li><a href="#">Editoriales</a>
              <ul>
                <li> <a href="<%= users_my_books_path%>">Mis libros</a> </li>
                <li><a href="<%= new_book_path%>">Agregar libro</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
<!-- mobile-menu-area-end -->
</header>
